@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
  width: 1440px;
  background-color: #F7F7F7;
  margin: 0 auto;
  height: auto;
}
/* sahre flex */

.share-flex{
    display: flex;
}
.share-descriotion{
    font-size: 1.25rem;
    color: #111111;
}


/* header styles */
.hr{
    display: none;
}
header{
max-width: 1160px;
height: 62px;
display: flex;
margin: 20px auto;
justify-content: space-between;
}
.hdr-left{
    width: 202px;
    height:62px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}

ul{
width: 378px;
justify-content: space-between;
align-items: center;
height: 100%;
}
ul li a{
    font-size: 1.25rem;
    line-height: 30px;
}
.hdr-right{
    align-items: center;

}
.hdr-des{
    font-size: 1.95rem;
}
.btn-hdr{
    width: 197px;
    padding: 10ox;
    border-radius: 8px;
    height: 50px;
    background-color: #FEA301;
    color: #FFFF;
    border: none;
    cursor: pointer;
}
.last-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    display: none;
}

/* banner section */
.color1{
    color: #FEA301; 
}
.color2{
color: #01ACFD;
}
.banner{
    max-width: 1160px;
    height: 575px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.bnr-left{
    max-width: 640px;
    height: 340px;
}
.banner-des{
    line-height: 61px;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.bnr-btn{
    width: 197px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
}
/* main section */

.main{
    margin-top: 60px;
    max-width: 1440px;
    height: 879px;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

.main-des1{
    text-align: center;
    color: #000000;
    font-size: 2.9rem;
    font-weight: bold;
}

.content-card{
    max-width: 1160px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content-card{
    display: flex;
    width: 1160px;
    height: 481;
    margin-top: 80px;
    position: relative;
    justify-content: space-around;
    
    
    
   

}
.card1{

border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
width: 367.5px;
height: 481px;
padding: 5px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255,255, 255, 0) 40%),rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}
.card2{

border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
gap: 32px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
width: 367.5px;
height: 481px;
padding: 5px;
}
.card3{
    
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 367.5px;
    height: 481px;
    padding: 5px;
}
.main-hdr{
    font-size: 24px;
    font-weight: bold;
}
.btn-main{
    font-size: 15px;
    font-weight: bold;
    color: #64C8FF;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.main-des{
    color: #808080;
    line-height: 28px;
    text-align: center;
}
.main-btn{
    margin: 50px auto;
    width: 200px;
    height: 100px;
    display: flex;
    gap: 10px;
    
}
.last-btn{
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: #FEA301;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    border: none;


}

/* marquee */
marquee{
    font-size: 2rem;
    color: black;
    margin: 10px auto;
    font-weight: bold;
}
.our-stories{
    max-width: 1440px;
    height: 1018px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    position: relative;
}
.storis-div{
   max-width: 1260px;
    height: 830px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    
}
.sto-left{
    max-width: 45%;
    height: 630px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F7F7F7;
    border-radius: 15px;
    position: relative;
    
    
}
.sto-right{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 630px;
    gap: 3px;
    flex-direction: column;
    position: relative;
    
    
}
.card-sto1{
    width: 174px;
    height: 47px;
    border-radius: 20px;
    background-color: #01ACFD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 38.35px;
    top: 300.14px;

}

.card-sto2{
/* November 19, 2019 */
position: absolute;
width: 147.46px;
height: 18.22px;
border-radius: 47.93px;
display: flex;
justify-content: center;
align-items: center; 
color: white;
padding: 5px;
left: 38.35px;
top: 157.81px;
cursor: pointer;

background: rgb(149, 178, 38);



    
}


.right-sto{
    width: 290px;
    height: 300px;
    position: relative;
    border-radius: 8px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    margin-top: 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.btn-stories{
    margin-top: 15px;
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 70px;
}
.sto-head{
    width: 400px;
    font-size: 1.50rem;
    font-weight: bold;
    margin-left: 20px;
}
.sto-des{
    width: 433px;
    font-weight: 500;
    color: #666666;
    line-height: 28px;
    margin-left: 20px;
}
.storis-div img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.right-sto-head{
    font-size: .95rem;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    text-align: center;
    
}

/* footer section */
.footer{
max-width: 1440px;
height: 519px;
background-color: #01ACFD;
color: #FFFFFF;
margin-top: 70px;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-top: 100px;


}
.ftr-left{
   max-width: 30%;
    height: 400px;
    text-align: start;
    margin-left: 70px;
    
    
}
.footr-left-des{
   max-width: 400px;
    margin-top: 20px;
    font-size: 1.25rem;
}

.ftr-middle{
    display: flex;
    flex-direction: column;
    text-align: start;
   max-width: 30%;
    height: 400px;
    margin-left: 50px;
    
}
.ftr-right{
   max-width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.left-top{
    display: flex;
    gap: 20px;
    align-items: center;
}
.ftr-left-head{
    font-size: 2.50rem;
    font-weight: bold;
}
.ftr-middle ul li{
    margin-top: 10px;
}
.ftr-middle ul li a{
    color: #FFFFFF;
    
}
.ftr-last-des{
    font-size: 1.52rem;
    font-weight: bold;
}
/* Moile responsive view */

/* @media screen and (max-width: 576px)  */

@media (max-width: 576px) {
.last-tab{
    display: block;
    margin-top: 20px;
}
.hdr-middle{
    visibility: hidden;
}
.hdr-right{
    visibility: hidden;
}
.hdr-des{
    visibility: hidden;
}
.hdr-left .mobilw-vew img{
    width: 106px;
    height: 106px;
    margin-top: 20px;
}
header{
    width: 100%;
    height: auto;
   
    margin-top: 20px;
    height: auto;
    
    
}

.hr{
    display: block;
    background-color: yellow;
    margin-top: 50px;
}
.banner{
    
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    width: 100%;
}

.bnr-left{
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 100%;
    
}
.banner-des{
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    
    
}
.share-descriotion{
    width: 70%;
    height: auto;
    margin-top: 20px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}
.bnr-right{
    width: 100%;
    height: auto;
}
.bnr-right img{
    width: 100%;
    height: auto;
    /* height: auto; */
}

.main{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
height: auto;
bottom: 0;

}
.content-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
}
.card1, .card2, .card3{
    width: 100%;
    height:600px;
    margin-top: 20px;
    
}
.main-btn{
    display: none;
}
.sto-left{
    display: none;
}
.main-hdr{
    text-align: center;
}
.sto-right{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    
} 
/* this is share card */
.sto2-child{
    position: absolute;
    left: 38.35px;
    top: 210.81px;
}
/* this is share card */


.our-stories{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    bottom: 0;
    }

.right-sto{
    width: 100%;
    height: auto;
    gap: 2px;
}
.card-sto2{
    position: absolute;
    margin-top: 50px;
}    

.right-sto img{
    width: 100%;
    height: auto;
}
.btn-stories{
    margin-bottom: 50px;
    margin-top: 30px;
}
.our{
    text-align: center;
}
/* .footer{
display: flex;
flex-direction: column;
height: auto;
top: 0;
margin: 0;
padding: 0;
text-align: center;
    

} */

.footer{
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;
}

.ftr-left, .ftr-middle, .ftr-right{
  max-width: 90%;
  height: auto;
}

.ftr-left-head{
    font-size: 150px;
    height: auto;
}

.footr-left-des{
    max-width: 80%;
    height: auto;
    line-height:50px;
    font-size: 45px;
}





.ftr-right-social{
    max-width: 100%;
    height: auto;
    left: 0;
}
.ftr-right{
    max-width: 100%;
    height: auto;
    left: 0;
    
}
.ftr-right-social{
    height: auto;
    max-width: 100%;
    display: flex;
    
}
.ftr-right-social img{
    width: 150px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.ftr-last-des{
    max-width: 100%;
    height: auto;
    text-align: left;
    margin-left: 40px;
    font-size: 100px;
}
.lol{
    max-width: 100%;
    height: auto;
    font-size: 100px;
    margin-top: 20px;
}

.ftr-middle{
    max-width: 100%;
    height: auto;
}
.ftr-middle ul{
    max-width: 100%;
    height: auto;
}
.ftr-middle ul{
    font-size: 80px;
}

.ftr-middle ul a{
font-size: 80px;
font-weight: 300;
margin-top: 50px;
}
.left-top img{
   max-width: 500px;
    height: auto;
}
.ftr-left{
    width: 100%;
    height: auto;
}

}